# Python
__pycache__/
*.py[cod]
*.sqlite3

# macOS system files
.DS_Store

# Virtual environment
venv/
ENV/
env/

# VS Code settings
.vscode/

# Django migrations (optional)
*/migrations/__pycache__/
config/**/__pycache__/
pages/**/__pycache__/
*.log
*.pyc
