{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
<div class="about-container">
  <div class="about-text">
    <h2>About the Developer</h2>
    <p>Meet Koiree Descoteaux, the visionary behind Tiimo. With a passion for productivity and technology, Koiree has transformed the way individuals 
        and teams manage their tasks and projects. Her journey began as a software engineer, where he identified the need for an all-in-one platform that 
        could cater to various productivity needs. Through dedication and innovation, Koiree developed Tiimo to offer seamless task management, time tracking, and more. 
        Her mission is to empower users to achieve more with less effort, making productivity accessible to all.</p>
  </div>
  <div class="about-image">
    <img src="{% static 'img/developer_koiree.png' %}" alt="Developer photo" class="image">
  </div>
</div>
{% endblock content %}